[submodule "emulator/arcturus"]
	path = emulator/arcturus
	url = https://git.krews.org/morningstar/Arcturus-Community.git
[submodule "nitro/nitro-react"]
	path = nitro/nitro-react
	url = https://git.krews.org/nitro/nitro-react
[submodule "nitro/nitro-converter"]
	path = nitro/nitro-converter
	url = https://git.krews.org/nitro/nitro-converter
