[mysqld]
bind-address=0.0.0.0
general_log = 0
general_log_file = /var/log/mysql/query.log

slow_query_log = 0
long_query_time = 1 # seconds
slow_query_log_file = /var/log/mysql/slow.log
log_queries_not_using_indexes = 0
skip-name-resolve=1
